<div class="ui fluid three column grid">
	<div class="column">
		
	</div>

	<div class="column">
		


	<div class="ui form segment"> 
		<h1>New team</h1>

		<%= render 'form' %>

	</div>

		<%= link_to 'Back', teams_path %>

	</div>


	<div class="column">
		
	</div>	

</div>