<div class="ui fluid three column grid">

	<div class="column">
		
		<h3>Player:</h3>

		<%= @user.nickname %>

	</div>


	<div class="column">
		
		<h3>Stats</h3>

	</div>


	<div class="column">
		
		<h3>Teams</h3>

		<% @teams.each do |t| %>

		<%= t.name %>
		<% end %>

	</div>


</div>


<div class="ui fluid two column grid">

	<div class="column">
		<h3>Upcoming Matches:</h3>
		
		<% @teams.each do |t| %>

			<% t.matches.each do |m| %>
				<%= m.name %>
			<% end %>
			
		<% end %>

	</div>


	<div class="column">
		<h3></h3>

	</div>
</div>