<div class="ui two column page grid">
  <div class="column">
    <div class="ui labeled vertical fluid inverted icon menu">
      <a class="item">
        <i class="icon mail"></i>
        Find Matches
      </a>
      <a class="item">
        <i class="blue icon lab"></i>
        Join a Tournament / League
      </a>
      <a class="item">
        <i class="red icon signal"></i>
        Keep Stats
      </a>
    </div>
  </div>
  <div class="column">
    <div class="ui segment ignored ui info message">
      <b>Matchup.</b>
      <p>Competitive e-sports gaming network.</p>
    </div>
  </div>
</div>