

	<h3> Player Listing </h3>

	<table class="ui three column table segment">
	  <tr>
	    <th>Player</th>
	    <th>Nickname</th>
	    <th>Avatar</th>

	  </tr>

	  <tr>
	  	<td><% @users.each do |user| %> </td>
	  	  	<td><%= user.email %></td>

	  	<td><%= user.nickname %></td>
		<td><%= image_tag user.avatar %></td>

	  </tr>


	<% end %>

	</table>

